body{
    /* width: 100vh; */
    height: 100vh;
}

#fisrtSic-title{
    text-align: center;
    height: 15vh;
    /* font-family: indie flower; */
}

#secondSis-board {
    /* font-family: indie flower; */
    width: 600px;
    /* background-image: url(paper03.jpeg); */
    /* background-repeat: no-repeat; */
}

#secondSis-board > div {
    margin: 1%;
}


.btn-close{
    position: absolute;right: 10px;
}

@keyframes fade {

0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#the-card{
    display: none;
    margin: 2%;
    
}

#ThirdSic-cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;bottom: 10px;
}

.card-text{
    height: 150px;
    width: 15rem;
    overflow-y: scroll; 
    /* max-height: 150px ; */
}

#card-footer{
    text-align: left ;
}
/* 
.card-body{
    background-image:url(paper03.jpeg);

} */

.btn-close{
    position: absolute;
    top: auto;
}