.body {
    height: 100vh;
    background-color: #e4e6d9;
}

#fisrtSic-title {
    height: 10vh;
    margin-bottom: 3%;
    margin-top: 20px;
    text-align: center;
    font-family: Ubuntu;
}

img {
    height: 70px;
}

h1 {
    margin: auto;
    border: 3px #c0cfb2 solid;
    border-radius: 10px;
    background-color: #c0cfb2;
    width: 360px;
}

#secondSis-board {
   
    /* height: 40vh; */
    margin: auto;
    margin-bottom: 100px;
    background-image: url(paper07.jpeg);
    background-size: 800px;
    background-position: top;
    background-repeat: no-repeat;
    /* font-family: indie flower; */
    font-family: Ubuntu;
}

#board-div {
    margin: auto;
    width: 700px;
}

label {
    color: #273526;
    font-size: 20px;
}

input {
    /* border: 3px solid #c1c4d3 !important; */
    background-color: transparent !important;
}

#board-buttons>button {
    background-color: #6c8776;
    border: #c6c4d1;
    color: #000;
}

#ThirdSic-cards {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.the-card {
    display: none;
}


#card {
    font-family: Ubuntu;
    margin-left: 10%;
}

#card-header {
    height: 30px;
    background-color: #6c8776 !important;
}


.card-body {
    background-color: #c0cfb2;
    overflow-y: auto;
}

.card-text {
    height: 150px;
    max-width: 10rem;
}


#card-footer {
    font-family: Ubuntu !important;
    background-color: #c0cfb2 !important;
    text-align: left;
}


.btn-close {
    position: absolute;
    top: 4px;
    right: 2px;
    display: none;
}

@keyframes fade {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}